@import "tailwindcss";
:root {
	--background: #f0f2f3;
	--foreground: #303030;
	--primary: #813c2c;
	--secondary: #cca488;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
	--font-sans: var(--font-poppins);
	--font-old_standard: var(--font-old_standard);
}

body {
	@apply bg-background text-foreground font-sans;
}

.hero-bg {
	background-image: url("/images/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bento-bg {
	background-image: url("/images/image4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.max-container {
	@apply mx-auto max-w-[1700px];
}

.padding-container {
	@apply px-6 lg:px-10;
}
